<div class="loader-container" *ngIf="_loaderService.isLoading |async">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <img  src="../../assets/images/logo.png"  />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home" routerLinkActive="active">Home</a>
          </li>
        </ul>

        <div class="search-form">
          <div class="" role="search">
            <input class="form-control me-2" type="search" (keyup)="onSearchInput($event)" placeholder="Search userID" aria-label="Search">
          </div>
          <div class="search-output" [ngClass]="foundUser.id ? 'opacity-1' : 'opacity-0'" *ngIf="foundUser">
              <a (click)="navigateToSearchResult()">{{foundUser.id}} {{foundUser.first_name}}</a>
            </div>
        </div>
        
      </div>
    </div>
  </nav>


